__pycache__/
*.py[cod]
*$py.class

venv/
env/
.venv/
.env/

*.egg-info/
dist/
build/
eggs/
parts/
*.egg
*.wheel
*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

.coverage
.tox/
.nox/
.cache/
pytest_cache/

.idea/
.vscode/
*.swp
*.swo
*.DS_Store

.ipynb_checkpoints/

.DS_Store

*.log

.env
*.env
*.local
